@import "DarkTheme.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

@import "NativeHtmlComponents.scss";

body {
    line-height: 1.5;
    background-color: $background-color;
    color: $font-color;
}

app {
    height: 100vh;

    nav.top-menu {
        background-color: #343a40;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        z-index: 999;

        .brand {
            color: white;
            text-decoration: none;
            font-size: 1.25rem;
            padding: 0.75rem 0 0.75rem 0.75rem;
            display: inline-block;
        }
    }

    & > div {
        display: flex;
        margin-top: 3.25rem;
        align-items: stretch;
        height: calc(100vh - 3.25rem);

        @import "SideBar.scss";

        main {
            margin-left: 256px;
            padding: 3rem 6rem 3rem 6rem;
            width: 100%;

            h1 {
                padding-bottom: 4rem;
                font-size: 2.5rem;
                font-weight: 400;
            }

            @import "ManageFeed.scss";
            @import "Feed.scss";
        }
    }
}
