@import "DarkTheme.scss";

nav.sidebar {
    position: fixed;
    top: 3.25rem;
    left: 0;
    bottom: 0;
    width: 256px;
    background-color: $sidebar-background-color;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    & > h6 {
        text-transform: uppercase;
        color: darkgrey;
        font-weight: 400;
        font-size: 0.7rem;
        margin: 1.5rem 0 0.25rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: #333;

            &:hover {
                color: #ddd;
            }
        }
    }

    li {
        font-size: 1rem;
        font-weight: 200;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: inherit;
        }

        .edit {
            font-size: 0.75rem;
            display: none;
        }

        &:hover .edit {
            display: initial;
            color: #333;

            &:hover {
                color: #ddd;
            }
        }
    }
}
