@inherits TinfoilFeedReader.Client.Shared.Components.CodeBehinds.FeedArticleComponent

<div class="feed-box">
    <div class="image">
        @if (ImageData is object)
        {
            <img src="data:image/jpg;base64,@ImageData" />
        }
    </div>
    <h5>
        <a href="@Article.Url" target="_blank">
            @Article.Title
        </a>
    </h5>
    <em>
        &lt;Name&gt;, @Article.TimeSincePublish()
    </em>
    <p>
        @Article.Summary
    </p>
</div>
