@inherits TinfoilFeedReader.Client.Shared.Components.CodeBehinds.FeedMenuComponent

<h6>
    <span>Collections</span>
    <a>+</a>
</h6>
<ul>
    @if (Collection is object)
    {
        <li>
            <a href="@($"/feedcollections/{FeedCollectionId.ToString()}")">
                All
            </a>
        </li>

        foreach (var feed in Collection.Feeds)
        {
            <li>
                <a href="@($"/feedcollections/{FeedCollectionId.ToString()}/feed/{feed.Id.ToString()}")">
                    @feed.Name
                </a>
            </li>
        }
    }
</ul>