@inherits TinfoilFeedReader.Client.Shared.Components.CodeBehinds.FeedMenuComponent

@if (Collection is object)
{
    <h6>
        <span>Feeds</span>
        <a href=@($"/feedcollections/{Collection.Id}/feed/create")>
            <span class="oi" data-glyph="plus"></span>
        </a>
    </h6>
    <ul>
        @if (Collection is object)
        {
            <li>
                <a href="@($"/feedcollections/{Collection.Id}/feed/00000000-0000-0000-0000-000000000000")">
                    All
                </a>
            </li>

            foreach (var feed in Collection.Feeds.OrderBy(feed => feed.SequenceIndex))
            {
                <li>
                    <a href="@($"/feedcollections/{Collection.Id}/feed/{feed.Id}")">
                        @feed.Name
                    </a>
                    <a class="edit" href=@($"/feedcollections/{Collection.Id}/feed/{feed.Id}/manage")>
                        <span class="oi" data-glyph="cog"></span>
                    </a>
                </li>
            }
        }
    </ul>
}