@inherits TinfoilFeedReader.Client.Shared.Components.CodeBehinds.FeedMenuComponent

@if (FeedCollectionId is object)
{
    <h6>
        <span>Collections</span>
        <a href=@($"/feedcollections/{FeedCollectionId}/manage")>
            <span class="oi" data-glyph="plus"></span>
        </a>
    </h6>
    <ul>
        @if (Collection is object)
        {
            <li>
                <a href="@($"/feedcollections/{FeedCollectionId}")">
                    All
                </a>
            </li>

            foreach (var feed in Collection.Feeds.OrderBy(feed => feed.SequenceIndex))
            {
                <li>
                    <a href="@($"/feedcollections/{FeedCollectionId}/feed/{feed.Id}")">
                        @feed.Name
                    </a>
                    <a class="edit" href=@($"/feedcollections/{FeedCollectionId}/manage/{feed.Id}")>
                        <span class="oi" data-glyph="cog"></span>
                    </a>
                </li>
            }
        }
    </ul>
}