@inherits TinfoilFeedReader.Client.Shared.Components.CodeBehinds.FeedManageComponent

<div class="manage-feed">
    <div class="label">
        <label>
            Title
        </label>
        <a onclick=@ToggleEdit>
            @if (!IsEditing)
            {
            <span class="oi edit" data-glyph="pencil"></span>
            }
            else
            {
            <span class="oi edit done" data-glyph="check"></span>
            }
        </a>
    </div>
    <div class="input">
        <input disabled=@(!IsEditing) value=@Feed.Name />
    </div>
    <div class="sources">
        <div class="label">
            <label>
                Sources
            </label>
            <span class="oi edit" data-glyph="chevron-bottom"></span>
        </div>
    </div>
</div>