@inherits TinfoilFeedReader.Client.Shared.Components.CodeBehinds.SideBarComponent

<nav class="sidebar">
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Privacy</li>
    </ul>

    @ChildContent
</nav>