@inherits TinfoilFeedReader.Client.Shared.Components.CodeBehinds.SideBarComponent

<nav>
    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Privacy</li>
    </ul>
    @ChildContent
</nav>