@page "/feedcollections/{FeedCollectionId}"
@page "/feedcollections/{FeedCollectionId}/feed/{FeedId}"
@inherits TinfoilFeedReader.Client.Pages.CodeBehinds.FeedCollectionsComponent


<SideBar>
    <FeedMenu FeedCollectionId=@Guid.Parse(FeedCollectionId) />
</SideBar>

<main>
    <h1>@Title</h1>

    <div class="feed">
        @if (Articles is object)
        {
            foreach (var entry in Articles)
            {
                <FeedBox Article=@entry />
            }
        }
    </div>
</main>