@page "/feedcollections/{FeedCollectionId}"
@page "/feedcollections/{FeedCollectionId}/feed/{FeedId}"
@inherits TinfoilFeedReader.Client.Pages.CodeBehinds.FeedCollectionsComponent


<SideBar>
    <FeedMenu />
</SideBar>

<main>
    <h1>@Title</h1>

    <div class="feed">
        @if (FeedEntries is object)
        {
            foreach (var entry in FeedEntries)
            {
                <FeedBox FeedEntry=@entry />
            }
        }
    </div>
</main>