@page "/feedcollections/{FeedCollectionId:guid}"
@page "/feedcollections/{FeedCollectionId:guid}/feed/{FeedId:guid}"
@inherits TinfoilFeedReader.Client.Pages.CodeBehinds.FeedCollectionsPage

<SideBar>
    <FeedMenu FeedCollectionId=@FeedCollectionId />
</SideBar>

<main>
    <h1>@Title</h1>

    <div class="feed">
        @if (Articles is object)
        {
            foreach (var article in Articles)
            {
                <FeedArticle Article=@article />
            }
        }
    </div>
</main>