@page "/feedcollections/{FeedCollectionId:guid}/feed/{FeedId:guid}/manage"
@inherits TinfoilFeedReader.Client.Pages.CodeBehinds.ManageFeedPage


<SideBar>
    <FeedMenu FeedCollectionId=@FeedCollectionId />
</SideBar>

<main>
    <h1>Manage Feed</h1>

    @if (Feed is object)
    {
        <div class="manage-feed">
            <div class="label">
                <label>
                    Title
                </label>
                <span>
                    <a onclick=@ToggleEdit>
                        @if (!IsEditing)
                        {
                            <span class="oi edit" data-glyph="pencil"></span>
                        }
                        else
                        {
                            <span class="oi edit done" data-glyph="check"></span>
                        }
                    </a>
                    <a onclick=@DeleteFeed>
                        <span class="oi edit remove" data-glyph="x"></span>
                    </a>
                </span>
            </div>
            <div class="input">
                <input disabled=@(!IsEditing) bind="@Feed.Name" />
            </div>
            <div class="sources">
                <h2>Sources</h2>
            </div>
        </div>
    }
</main>